:root {
    --cinza: #c09898;
    --vermelha: #4c88c0;
    --vermelha-escura: #572c31;
    --branca: #fff;
    --luz: rgb(91, 95, 58);
}

body {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(25, 61, 85, 0.5)),
    url("../imagens/fundo.jpg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    
}

figure {
    figure {
        position: relative;
    }
        figure:before;
        figure:after {
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
}
}

.cabecalho__menu {
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.761);
    float: left;
    font-size: 400%;
    font-family: monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(19, 211, 201);
}

h1 {
    color: var(--branca);
    margin-bottom: 20px;
    font-size: 2rem;
}

h2 {
    color: #dadada;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: #d6d6d6;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    color: #000000;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    background: linear-gradient(45deg, #4a758a 0%,#393a38 90% );
}

.teclado {
    background: linear-gradient(to bottom, #3d3d3d 0%,#000000 100%);
    box-shadow: 6px 8px 0 6px #535353, 10px 10px 10px #ffffff;
    border-radius: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.tecla {
    background-color: var(--branca);
    border-radius: 30px;
    box-shadow: 3px 3px 0 var(--cinza);
    color: var(--vermelha);
    cursor: pointer;
    height: 120px;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    width: 120px;}.tecla.ativa,.tecla:active {
    background-color: var(--vermelha);
    border: 4px solid  var(--vermelha);
    box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
    color: var(--branca);
    outline: none;}.tecla.focus,.tecla:focus {
    outline: none;
    box-shadow: 1px 1px 10px var(--luz);}.tecla.active:focus,.tecla:active:focus {
    box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);}